<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <table class="table mt-2">
        <thead>
          <tr>
            <th>User id</th>
            <th>Description</th>
            <th>Image url</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% orders.forEach(function(order){ %>
            <td><%= order.userId %></td>
            <td><%= order.description %></td>
            <td><%= order.imageUrl %></td>
            <td><%= order.price %></td>
            <% }); %>
          </tr>
        </tbody>
      </table>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
